body {
  background: radial-gradient(
    circle at 10% 20%,
    rgb(255, 200, 124) 0%,
    rgb(252, 251, 121) 90%
  );
}
h1 {
  text-align: center;
  text-decoration: underline;
  color: orange;
}
p {
  text-align: center;
  color: orangered;
  font-weight: lighter;
  font-style: italic;
  font-size: 20px;
}
a {
  display: block;
  text-align: center;
  color: orangered;
}
img {
  display: block;
  margin: 0 auto;
  border: 4px solid orange;
  box-shadow: 0 2px 6px rgba(0, 0, 0, 0.15);
}
